name: Tests

on:
  push:
  workflow_dispatch:

jobs:
  upload-file:
    runs-on: ubuntu-latest
    name: Upload file
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v2

      - id: upload
        uses: biglocalnews/upload-files@main
        with:
          api-key: ${{ secrets.BLN_API_KEY }}
          project-id: ${{ secrets.BLN_PROJECT_ID }}
          path: tests/test.csv

  upload-folder:
    runs-on: ubuntu-latest
    name: Upload folder
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v2

      - id: upload
        uses: biglocalnews/upload-files@main
        with:
          api-key: ${{ secrets.BLN_API_KEY }}
          project-id: ${{ secrets.BLN_PROJECT_ID }}
          path: tests/
